* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    user-select: none;
    background: url(https://pic4.zhimg.com/v2-0a6beb82d8d7b679375183c56c0b7eb3_r.jpg)no-repeat center center;
    background-size: cover;
}

@media screen and (min-width: 400px) {
    .thetaliban {
        width: 50vh;
        height: 100%;
        margin: 5vh auto;
    }
}

.header {
    text-align: center;
    background-image: url(https://pic3.zhimg.com/v2-627244e1f0edff820362aaea1a214a86_r.jpg);
    height: 10vh;
}

@media screen and (min-width: 400px) {
    .header {
        text-align: center;
        background-image: url(https://pic3.zhimg.com/v2-627244e1f0edff820362aaea1a214a86_r.jpg);
        height: 10vh;
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh;
    }
}

.headertext {
    line-height: 10vh;
    font-size: 5vh;
    font-weight: bold;
    background: url(https://pic4.zhimg.com/v2-9f835c34913a3900713867034c03b2ef_r.jpg)no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: tomato;
    -webkit-text-fill-color: transparent;
    transition: 0.5s linear;
}

.header .headertext:hover {
    opacity: 1;
}

.header .hleft {
    display: flex;
    position: relative;
    height: 10vh;
    width: 10vh;
    float: left;
}

.header .hleft input {
    position: absolute;
    left: 30px;
    top: 27px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 0;
}

.header .hleft span {
    position: absolute;
    width: 28px;
    height: 4px;
    border-radius: 3px;
    background-color: white;
    left: 30px;
    top: 5vh;
    pointer-events: none;
    transition: top 0.3s ease-in-out;
}

.header .hleft span:nth-child(2) {
    top: 3.8vh;
}

.header .hleft span:nth-child(4) {
    top: 6.2vh;
}

.header .hleft input:checked~span:nth-child(2) {
    top: 40px;
    transition: top 0.3s ease-in-out;
}

.header .hleft input:checked~span:nth-child(4) {
    top: 40px;
    transition: top 0.3s ease-in-out;
}

.header .hleft ul {
    text-align: justify;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0px;
    top: 10vh;
    height: 0;
    width: 100vw;
    overflow: hidden;
    transition: height .3s ease-in-out;
}

@media screen and (min-width: 400px) {
    .header .hleft ul {
        width: 50vh;
    }
}

.header .hleft ul li {
    padding: 0 5vh;
    height: 4vh;
}

.header .hleft ul li:nth-child(1) {
    margin-top: 1vh;
}

.header .hleft ul li:nth-child(5) {
    margin-bottom: 1vh;
}

.header .hleft ul li a {
    width: 100%;
    height: 100%;
    font: 16px Poppins, sans-serif;
    color: #8691a0;
    line-height: 4vh;
    font-weight: 600;
}

.header .hleft input:checked~ul {
    height: 22vh;
    transition: height .3s ease-in-out;
}

.header a {
    display: inline-block;
    height: 10vh;
    width: 10vh;
}

.header .hright {
    background: url(https://pic3.zhimg.com/80/v2-f91f854bf5015289def51d1f2031af1e_720w.jpg) no-repeat;
    background-size: 60%;
    background-position: center;
    height: 10vh;
    width: 10vh;
    float: right;
    margin-right: 1.5vh;
}

.content1 {
    background-color: black;
    height: 30vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.contentll {
    padding: 4vh 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    background-color: #36404a;
    overflow: hidden;
}

.contentll span {
    bottom: 10vh;
    align-items: none;
    position: absolute;
    font-size: 10vh;
    font-weight: bold;
    color: white;
    transition: 0.7s linear;
}

.contentll .text {
    font: 15px Poppins, sans-serif;
    color: #8691a0;
    text-align: center;
    opacity: 0;
    transition: 0.5s linear;
    line-height: 4vh;
}

.contentll span:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.contentll span:nth-child(3) {
    color: cornflowerblue;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.contentll span:nth-child(1) {
    text-align: center;
    line-height: 4vh;
    border-radius: 7px;
    width: 13vh;
    height: 4vh;
    background-color: #be7f02;
    font-weight: none;
    font-size: 2vh;
    color: black;
    z-index: 1;
    bottom: 4.5vh;
    transition: 0.2s linear;
}

span:nth-child(1):hover~span:nth-child(2) {
    transform: translate(-200%, 50%) rotateZ(1deg);
}

span:nth-child(1):hover~span:nth-child(3) {
    transform: translate(200%, -50%) rotateZ(1deg);
}

span:nth-child(1):hover {
    opacity: 0;
}

span:nth-child(1):hover~.text {
    opacity: 1;
}

.content2 {
    display: flex;
    background-color: chocolate;
    background: url(https://pic3.zhimg.com/80/v2-1ae4531cb29fbac62feb6ae085d6c42e_720w.jpg) no-repeat center;
    background-size: cover;
    height: 35vh;
    justify-content: center;
    align-items: center;
}

.content2 .money {
    border-radius: 15px;
    padding: 1vh 4vh;
    border: 1px solid black;
    width: 55%;
    height: 75%;
    margin: 0 auto;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .3), rgba(255, 255, 255, .2));
    backdrop-filter: blur(2px);
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-left: 1px solid rgba(255, 255, 255, .8);
}

.content2 .money ul .m1 {
    background: none;
    text-align: center;
    margin-bottom: 2vh;
    font: 900 25px '';
    color: rgba(0, 0, 0, .6);
    text-shadow: 1px 1px 3px rgba(255, 255, 255, .7);
}

.content2 .money ul li {
    white-space: nowrap;
    margin: 0.5vh 0;
    padding-left: 20px;
    background: url(https://pic1.zhimg.com/80/v2-48a671445b7b5c356ad556514dbf2840_720w.jpg) left center no-repeat;
}

.content2 .money ul li a {
    font-size: 13px;
    color: rgba(255, 255, 255, .7);
}

.end {
    border-top: 1px dashed white;
    padding-top: 4vh;
    background-color: cornflowerblue;
    height: 13vh;
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 3vh;
}

@media screen and (min-width: 400px) {
    .end {
        border-top: 1px dashed white;
        padding-top: 4vh;
        background-color: cornflowerblue;
        height: 13vh;
        font-size: 13px;
        color: white;
        text-align: center;
        line-height: 3vh;
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh;
    }
}
